
<div class="header-top">
    <div class="top-left">
        <span class="icon"><i class="fas fa-cog"></i></span>
        <span class="content-left">Welcom tp Franco-an e-Commerce PSD Template</span>
    </div>
    <div class="top-right">
        <div class="install">
            <span class="icon"><i class="fas fa-cog"></i></span>
            <span class="content-right">Shop Setting</span>
        </div>
        <div class="login">
            <span class="icon"><i class="fas fa-lock"></i></span>
            <span class="content-right">
                @Html.ActionLink("Member Login", "Index", "Login")
            </span>
        </div>
    </div>
</div>

