<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Franco|Home Page</title>
    <link rel="stylesheet " type="text/css" href="~/Assets/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" type="text/scss" href="~/Assets/css/slick.scss" />
    <link rel="stylesheet " type="text/scss" href="~/Assets/css/slick-theme.scss" />
    <link rel="stylesheet" href="~/Assets/fontawesome/all.min.css" />
   
    <link rel="stylesheet" href="~/Assets/css/style.css" />
    <script src="~/Assets/js/jquery-3.3.1.min.js"></script>

    <script src="~/Assets/js/custom.js"></script>
    <script src="~/Assets/js/less.js"></script>
    <script src="~/Assets/js/slick.min.js"></script>
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Assets/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    
    @RenderBody()
    <!--Footer-->
    <div class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="footer-content">
                    <div class="row">
                        <div class="footer-top-item about">
                            <div class="titile">About Franco</div>

                            <div class="content">
                                Aliquam tempor sagittis neque, vel aliquam risus consectetur vel. Aenean hendrerit, elit a lacinia suscipit, orci mauris vulputate mi, eu interdum nunc diam at ipsum.
                            </div>
                            <div class="social">
                                <span><a href="#"> <i class="fab fa-twitter"></i></a></span>
                                <span><a href="#"><i class="fab fa-linkedin-in"></i></a></span>
                                <span><a href="#"><i class="fab fa-behance"></i></a></span>
                                <span><a href="#"><i class="fas fa-basketball-ball"></i></a></span>
                            </div>
                        </div>
                        <div class="footer-top-item menu">
                            <div class="titile">Navigation </div>

                            <div class="content">
                                <div class="row">
                                    <div class="menu-left">
                                        <ul>
                                            <li><a href="#">Home</a></li>
                                            <li><a href="">About Us</a></li>
                                            <li><a href="">Our Blog</a></li>
                                            <li><a class="active" href="">Women</a></li>
                                            <li><a href="">Men</a></li>
                                            <li><a href="">Contat Us</a></li>
                                        </ul>
                                    </div>
                                    <div class="menu-right">
                                        <ul>
                                            <li><a href="">FAQs</a></li>
                                            <li><a href="">Featured Brands</a></li>
                                            <li><a href="">Gift Vouchers</a></li>
                                            <li><a href="">Affiliates</a></li>
                                            <li><a href="">Specials Gift</a></li>
                                            <li><a href="">Terms & Conditions</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="footer-top-item location">
                            <div class="titile">Shop Location</div>

                            <div class="content">
                                <div class="address">
                                    <a href="#">
                                        <span><i class="fal fa-map"></i></span>
                                        <span class="text">
                                            <span>
                                                500 Hennessy Road
                                                Causeway Bay,Hong Kong
                                            </span>

                                        </span>
                                    </a>
                                </div>
                                <div class="phone">
                                    <a href="#">
                                        <span><i class="fas fa-phone-alt"></i></span>
                                        <span>+1 23456789</span>
                                    </a>

                                </div>
                                <div class="email">
                                    <a href="#">
                                        <span><i class="fal fa-envelope"></i></span>

                                        <span>contact@yourdoamin.com</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="content">
                    <div class="left">
                        © Copyright 2015 & Made with
                        <span><i class="fas fa-heart"></i></span>
                        <span> by ArrowHitech</span>
                    </div>
                    <div class="right">
                        <span><i class="fab fa-cc-visa"></i></span>
                        <span><i class="fab fa-cc-paypal"></i></span>
                        <span><i class="fab fa-cc-mastercard"></i></span>
                        <span><i class="fab fa-cc-discover"></i></span>
                        <span><i class="fab fa-cc-amex"></i></span>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!--End Footer-->
</body>

</html>